=form_for(badge, :html => {:multipart => true, :class => 'formtastic'}) do |f|
  =semantic_fields_for(badge) do |form|
    =form.inputs do
      =form.input :slug
      =form.input :name
      =form.input :description, :input_html => {:rows => 5}
      =form.input :award_message, :input_html => {:rows => 5}
      =form.input :image, :as => :image
      =form.action :submit, :label => 'Save', :button_html => {:class => 'btn btn-primary'}