.center
  -badge_id_and_count = user.badges.count(:group => ["badges.id"])
  -badge_id_and_count.each do |badge_id, count|
    -badge = Badge.find(badge_id)
    .badge-link
      =link_to "#badge#{badge_id}", :data => {:toggle => 'modal'} do
        -if badge.image
          =image_for(badge, '150x')
        -else
          =image_for(badge, '150x', :class => 'img-circle mb-2')
        .badge-count
          =count
    %br
  -user.badges.uniq.each do |badge|
    =render "badges/show_modal", :badge => badge