.row
  .span12
    %h1=title("Badges")
-if @badges.empty?
  .row
    .span12
      %p There are no badges yet.
-else
  -@badges.each do |badge|
    .row.mt-2
      .span2
        -if badge.image
          =image_for(badge, '170x')
        -else
          =image_for(badge, '170x', :class => 'img-circle')
      .span6
        %h3=badge.name
        %h4 Description
        =simple_format(badge.description)
        %h4 Award message
        =simple_format(badge.award_message)
        %p
          =link_to('Edit', edit_badge_path(badge), :class => 'btn btn-mini')
          =link_to('Delete', badge, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger')

.row.mt-2
  .span12
    =options_panel do
      =link_to('+ New badge', new_badge_path, :class => 'btn btn-primary')