form.badge {
  padding: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: inherit;
  white-space: inherit;
  text-shadow: inherit;
  background-color: inherit;
}
.carousel-control.award-badge-carousel {
  top:  100%;
}