form.badge {
  padding: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  vertical-align: inherit;
  white-space: inherit;
  text-shadow: inherit;
  background-color: inherit;
}
.carousel-control.award-badge-carousel {
  top:  100%;
}
.badge-link {
  position: relative;
}
.badge-link a:hover {
  text-decoration: none;
}
.badge-link a:focus {
  border: none;
  outline: none;
}
.badge-container {
  display: inline-block;
}
.badge-count {
  position: absolute;
  bottom: 5px;
  right: 19px;
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  text-align: center;
  color: white;
  background: #703C80;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}